.title {
	font-size: x-large;
}

.count {
    font-size: medium;
}

.characters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
}

.character {
	border: solid black 1px;
	padding: 0.5vh;
	margin-bottom: 1vh;
	width: 30%;
}
